<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Informacion - {{persona.nombre}}</div>
	<div class="panel-body">
		<p>Datos personales de {{persona.nombre}}</p>
	</div>

	<!-- Table -->
	<table class="table">
		<tbody>
			<tr>
				<td>Id</td>
				<td>{{persona.id}}</td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td>{{persona.nombre}}</td>
			</tr>
			<tr>
				<td>Apellido</td>
				<td>{{persona.apellido}}</td>
			</tr>
		</tbody>
	</table>
</div>