<!DOCTYPE html>
<html lang="en" ng-app="miapp">
<head>
	<meta charset="UTF-8">
	<title>Capacitacion Angular</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
	
	<div ng-controller="sumaCtrl">
		<h1>Suma</h1>
		<div>
			<input type="number" ng-model="numero_1">
		</div>
		<div>
			<input type="number" ng-model="numero_2">
		</div>
		<div>
			Resultado: {{sumar(numero_1, numero_2)}}
		</div>
	</div>
	<div ng-controller="directivaCtrl">
		<h1>directiva</h1>
		<div>Dato: {{persona|json}}</div>
		<persona-info app-persona="persona"></persona-info>
	</div>
	
	<div ng-controller="servicioCtrl">
		<h1>service</h1>
		<button type="button" class="btn btn-primary" ng-click="getPersonas()">Refrescar</button>
		<persona-info ng-repeat="persona in personas" app-persona="persona"></persona-info>
	</div>
</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

	<script type="text/javascript" src="app.js"></script>
</body>
</html>